doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title= title
    meta(name="description", content="#{ description }")
    link(rel="stylesheet", href="css/normalize.css", type="text/css", media="screen")
    link(rel="stylesheet", href="css/main.css", type="text/css", media="screen")
    link(rel="shortcut icon", href="favicon.ico")
  body
    .content
      != yield

    a(href="https://github.com/rudisimo/helm-charts/fork")
      img(style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="https://aral.github.io/fork-me-on-github-retina-ribbons/right-graphite@2x.png" alt="Fork me on GitHub")